@model SUMI.Web.ViewModels.Claims.ClaimCreateInputModel
@{
    ViewData["Title"] = "Create Claim";
}

<div class="row justify-content-center">
    <h2>@ViewData["Title"]</h2>
</div>
<hr class="thick" />
<form asp-controller="Claims" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <p class="withMargin font-weight-bold text-center">
                Enter Vehicle Identification Number. If it doesn't exist in our system
                <a asp-area="Administrator" asp-controller="Vehicles" asp-action="Create">click here</a> to add new vehicle
            </p>

            <h2>
                <label asp-for="VIN"></label>
                <input asp-for="VIN" />
                <span asp-validation-for="VIN" class="text-danger"></span>
                <a id="btnSearch" class="btn btn-primary">Search</a>
            </h2>

            <hr class="thick withMargin" />

            <div id="alertExistence" class="text-danger" style="display:none">Vehicle doesn't exist. Please add new vehicle!</div>
            <div id="alertValidPolicy" class="text-danger" style="display:none">This vehicle doesn't have a valid policy!</div>

            <input type="hidden" asp-for="VehicleId" />
            <input type="hidden" asp-for="PolicyId" />
        </div>


        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Description" class="font-weight-bold">Date, place and description of the event that lead to the damages:</label>
                <textarea class="form-control" asp-for="Description" placeholder="Write description here" rows="4" disabled></textarea>
            </div>

            <hr class="thick withMargin" />

            <div class="row justify-content-around withMargin">
                <div class="col-2">
                    <a id="btnBack" class="btn btn-danger" href="/">Back</a>
                </div>
                <div class="col-2">
                    <button id="btnCreate" type="submit" class="btn btn-success" disabled>Create</button>
                </div>
            </div>
        </div>
    </div>
</form>
<button id="btnReset" class="btn btn-secondary" disabled>Reset</button>

<script>
    window.onload = function () {
        $('#btnSearch').click(function () {
            $.ajax({
                method: 'GET',
                url: '/Vehicles/GetInsuranceStatus?vin=' + $('#VIN').val()
            }).done(function (data) {
                if (data["vehicleExists"] == false) {
                    $('#alertExistence').show();
                    $('#alertValidPolicy').hide();
                }
                else if (data["isInsured"] == false) {
                    $('#alertValidPolicy').show();
                    $('#alertExistence').hide();
                }
                else {
                    $('#Description').removeAttr('disabled');
                    $('#btnCreate').removeAttr('disabled');
                    $('#btnReset').removeAttr('disabled');
                    $('#VIN').attr('readonly', true);
                    $('#alertExistence').hide();
                    $('#alertValidPolicy').hide();
                    $('#VehicleId').val(data.vehicleId);
                    $('#PolicyId').val(data.policyId);
                }
            })
        });

        $('#btnReset').click(function () {
            $('#Description').attr('disabled', true);
            $('#btnCreate').attr('disabled', true);
            $('#btnReset').attr('disabled', true);
            $('#VIN').removeAttr('readonly');
            $('#confirmation').hide();
        });
    };
</script>
