@model SUMI.Web.ViewModels.Policies.PolicyCreateInputModel
@{
    ViewData["Title"] = "Create Policy";
    var vehicleTypes = new List<SelectListItem>
{
new SelectListItem { Value = "1", Text = "Car" },
new SelectListItem { Value = "2", Text = "Truck" },
new SelectListItem { Value = "3", Text = "Motorcycle"  },
};
}

<div class="row justify-content-center">
    <h2>@ViewData["Title"]</h2>
</div>
<hr class="thick" />
<form asp-controller="Policies" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <p class="withMargin font-weight-bold text-center">
                Enter Vehicle Identification Number. If it doesn't exist in our system
                <a asp-controller="Vehicles" asp-action="Create">click here</a> to add new vehicle
            </p>

            <h2>
                <label asp-for="VIN"></label>
                <input asp-for="VIN" />
                <span asp-validation-for="VIN" class="text-danger"></span>
                <a id="btnSearch" class="btn btn-primary">Search</a>
            </h2>

            <div id="alert" class="text-danger">Vehicle doesn't exist. Please add new vehicle!</div>

            <hr class="thick withMargin" />

            <input type="hidden" asp-for="VehicleId" />
            <input type="hidden" asp-for="ClientId" />
            <div class="row">
                <div class="col col-md-6 form-group">
                    <label asp-for="Make"></label>
                    <input asp-for="Make" class="form-control" disabled />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
                <div class="col col-md-6 form-group">
                    <label asp-for="Model"></label>
                    <input asp-for="Model" class="form-control" disabled />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-6 form-group">
                    <label asp-for="NumberPlate"></label>
                    <input asp-for="NumberPlate" class="form-control" disabled />
                    <span asp-validation-for="NumberPlate" class="text-danger"></span>
                </div>
                <div class="col col-md-6 form-group">
                    <label asp-for="FirstRegistration"></label>
                    <input asp-for="FirstRegistration" class="form-control" disabled />
                    <span asp-validation-for="FirstRegistration" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-6 form-group">
                    <label asp-for="OwnerName"></label>
                    <input asp-for="OwnerName" class="form-control" disabled />
                </div>
                <div class="col col-md-6 form-group">
                    <label asp-for="Type"></label>
                    <input asp-for="Type" class="form-control" disabled />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <p class="withMargin font-weight-bold text-center">
                Enter policy data here:
            </p>
            <hr class="thick withMargin" />

            <div class="row">
                <div class="col col-md-6 form-group">
                    <label asp-for="InsuranceSum"></label>
                    <input asp-for="InsuranceSum" class="form-control" type="number" min="0" step="0.1"/>
                    <span asp-validation-for="InsuranceSum" class="text-danger"></span>
                </div>
                <div class="col col-md-6 form-group">
                    <label asp-for="Premium"></label>
                    <input asp-for="Premium" class="form-control" disabled type="number" min="0"/>
                    <span asp-validation-for="Premium" class="text-danger"></span>
                </div>
            </div>

            <p class="text-right">
                <a id="btnCalculate" class="btn btn-primary">Calculate Premium</a>
            </p>

            <hr class="thick withMargin" />
            <div id="confirmation" class="bg-warning">
                Check all data carefully. Click "Create" if you are sure you want to continue. Click "Cancel" to go back!
            </div>

            <div class="row justify-content-around withMargin">
                <div class="col-2">
                    <a class="btn btn-danger" href="/">Cancel</a>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        window.onload = function () {
            $('#alert').hide();
            $('#confirmation').hide();

            $('#btnSearch').click(function () {
                $.ajax({
                    method: 'GET',
                    url: '/Vehicles/SearchByVin?vin=' + $('#VIN').val()
                }).then(function (data) {
                    $('#alert').hide();
                    $('#Make').val(data.make);
                    $('#Model').val(data.model);
                    $('#NumberPlate').val(data.numberPlate);
                    $('#FirstRegistration').val(data.firstRegistration);
                    $('#Type').val(data.type);
                    $('#OwnerName').val(data.ownerName);
                    $('#VehicleId').val(data.id)
                    $('#ClientId').val(data.ownerId)
                    })
                    .catch(() => {
                        $('#alert').show();
                    });
            });

            $('#btnCalculate').click(function () {
                $.ajax({
                    method: 'GET',
                    url: `/Policies/Calculate?insuranceSum=${$('#InsuranceSum').val()}&firstRegistration=${$('#FirstRegistration').val()}&type=${$('#Type').val()}`,
                }).then(function (data) {
                    $('#confirmation').hide();
                    $('#Premium').val(data.premium);
                })
                .catch(() => {
                    $('#confirmation').show();
                });
            });
        };
    </script>
}
