@{
    int count = 1;
    string standardBegining = GlobalConstants.ClaimStandardBegining;
    string dateFormatted = string.Empty;
}

@if (Model.Claims.Count == 0)
{
    <p class="font-italic">Currently there are no claims for this policy</p>
}
else
{
    <div class="list-group">
        @foreach (var item in Model.Claims)
        {
            dateFormatted = item.CreatedOn.ToString().Substring(0, 12);
            <a class="list-group-item list-group-item-action" asp-controller="Claims" asp-action="Details" asp-route-id="@item.Id">
                @count) Claim N: @standardBegining@item.Id / @dateFormatted
            </a>
            count++;
        }
    </div>
}
