<div id="commentContainer" class="container withMargin">
    @foreach (var item in Model.Comments)
    {
        <p>@item</p>
    }

    <div class="row">
        <div class="col col-md-6 form-group">
            <textarea class="form-control" id="textArea" name="text" placeholder="Enter your comment here:"></textarea>
        </div>
    </div>
    <button id="btnComment" class="btn btn-success btn-sm">Add comment</button>
    <p id="commetnConfirmation" class="text-danger">There was an error with your request. Comment was not added. Please try again</p>
    @*<form asp-controller="Comments" asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col col-md-6 form-group">
                <textarea class="form-control" id="textArea" name="text" placeholder="Enter your comment here:"></textarea>
                <span asp-validation-for="" class="text-danger"></span>
            </div>
        </div>

        <button id="btnComment" type="submit" class="btn btn-success btn-sm">Add comment</button>
    </form>*@
</div>
