<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link font-weight-bold sumiColor" asp-controller="Home" asp-action="Index">Home</a>
    </li>

    @if (this.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <div class="dropdown">
                <button type="button" class="nav-link btn btn-link dropdown-toggle border-0 font-weight-bold sumiColor" data-toggle="dropdown">
                    Vehicles
                </button>
                <div class="dropdown-menu">
                    @if (this.User.IsInRole(GlobalConstants.ClientRoleName))
                    {
                        <a asp-controller="Vehicles" asp-action="Create" class="dropdown-item sumiColor">Add New Vehicle</a>
                        <a asp-controller="Vehicles" asp-action="MyVehicles" class="dropdown-item sumiColor">My Vehicles</a>
                    }
                    @if (!this.User.IsInRole(GlobalConstants.ClientRoleName))
                    {
                        <a asp-area="Administrator" asp-controller="Vehicles" asp-action="Create" class="dropdown-item sumiColor">Add New Vehicle</a>
                        <a asp-controller="Vehicles" asp-action="All" class="dropdown-item sumiColor">All Vehicles</a>
                    }
                </div>
            </div>
        </li>

        @if (!this.User.IsInRole(GlobalConstants.ClientRoleName))
        {
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" class="nav-link btn btn-link dropdown-toggle border-0 font-weight-bold sumiColor" data-toggle="dropdown">
                        Claims
                    </button>
                    <div class="dropdown-menu">
                        <a asp-controller="Claims" asp-action="Create" class="dropdown-item sumiColor">Create New Claim</a>
                        <a asp-controller="Claims" asp-action="MyOpen" class="dropdown-item sumiColor">My Open Claims</a>
                        <a asp-controller="Claims" asp-action="MyPending" class="dropdown-item sumiColor">My Pending Claims</a>
                        <a asp-controller="Claims" asp-action="MyResolved" class="dropdown-item sumiColor">My Resolved Claims</a>

                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <a asp-area="Administrator" asp-controller="Claims" asp-action="AllPending" class="dropdown-item sumiColor">All Pending Claims</a>
                            <a asp-area="Administrator" asp-controller="Claims" asp-action="AllResolved" class="dropdown-item sumiColor">All Resolved Claims</a>
                        }
                    </div>
                </div>
            </li>
        }

        <li class="nav-item">
            <div class="dropdown">
                <button type="button" class="nav-link btn btn-link dropdown-toggle border-0 font-weight-bold sumiColor" data-toggle="dropdown">
                    Policies
                </button>
                <div class="dropdown-menu">
                    @if (this.User.IsInRole(GlobalConstants.ClientRoleName))
                    {
                        <a asp-controller="Policies" asp-action="MyPolicies" class="dropdown-item sumiColor">My Policies</a>
                    }
                    @if (!this.User.IsInRole(GlobalConstants.ClientRoleName))
                    {
                        <a asp-controller="Policies" asp-action="Create" class="dropdown-item sumiColor">Create New Policy</a>
                        <a asp-controller="Policies" asp-action="GetAllFromOffice" class="dropdown-item sumiColor">Policies issued in this office</a>
                        @if (this.User.IsInRole(GlobalConstants.AdministratorOrAgent))
                        {
                            <a asp-controller="Policies" asp-action="AllActive" class="dropdown-item sumiColor">Active Policies</a>
                            <a asp-controller="Policies" asp-action="AllExpired" class="dropdown-item sumiColor">Expired Policies</a>
                        }
                    }
                </div>
            </div>
        </li>

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" class="nav-link btn btn-link dropdown-toggle border-0 font-weight-bold sumiColor" data-toggle="dropdown">
                        User Administration
                    </button>
                    <div class="dropdown-menu">
                        <a asp-area="Administrator" asp-controller="Users" asp-action="All" class="dropdown-item sumiColor">Promote / Demote</a>
                        <a asp-area="Administrator" asp-controller="Clients" asp-action="All" class="dropdown-item sumiColor">All Clients</a>
                    </div>
                </div>
            </li>
        }
    }
</ul>
