@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<hr class="thick withMargin"/>
<h1>@Model.Message</h1>
<a class="btn btn-primary" href="\">Back to Home</a>
